
@media (max-width: 1000px) {
    .sidebarWrapper {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%; 
        background-color: #fff;
        z-index: 1000;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
      }
      
      .mobileMenuOpen {
        transform: translateX(0);
      }
      
      .sidebarNav {
        flex-grow: 1;
      }
      
      .mobileMenuButton {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1001;
        background-color: "#bf1a2f";
        color: white;
      }
      
      .profilebg {
        width: 100%;
        height: 200px;
      } 
}  
   