 
    .sidebarWrapper {
        width: 250px; /* Set a fixed width for the sidebar */
        height: 100%; /* Full height */
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff; /* Sidebar background color */
        overflow-y: auto; /* Enable vertical scrolling if content overflows */
        z-index: 1000; /* Ensure the sidebar appears above other elements */
      }
      /* CSS for Sidebar Content */
      .sidebarContent {
        padding-top: 20px;
      }
      
      /* CSS for Sidebar Links */
      .sidebarNav a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px; /* Adjust font size as needed */
        color: #000; /* Sidebar links color */
        display: block;
      }
      
      /* Active link style */
      .sidebarNav a.active {
        background-color: #f4f4f4; /* Active link background color */
      }
      
      /* CSS for Sidebar Toggle Button */
      .sidebarToggle {
        display: none; /* Hide by default */
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1100; /* Ensure the toggle button appears above other elements */
      }
      
      /* CSS for Sidebar Toggle Icon */
      .sidebarToggle .icon {
        font-size: 24px;
      }
      
      /* Media Query for Responsive Design */
      @media screen and (max-width: 767px) {
        .sidebarWrapper {
          width: 0; /* Hide the sidebar */
        }
      
      
        .sidebarToggle {
          display: block; /* Show toggle button */
        }
      
        .sidebarWrapper.showSidebar {
          width: 250px; /* Sidebar width when shown */
        }
      }
      