.podium-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.podium-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.podium {
  position: relative;
  text-align: center;
  margin-right: 20px;
  width: 33.33%;
}

.podium-1 {
  order: 2;
}

.podium-2 {
  order: 1;
}

.podium-3 {
  order: 3;
}

.img-podium {
  width: 10px;
}

.user-profile {
  position: relative; 
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.user-profile img {
  width: 20px;
  border-radius: 50%;
}

.list-container {
  text-align: center;
  margin-top: 20px; 
  width: 100%;
}
