.more-button {
    background-color: #a6d22c;
    color: white;
    margin-bottom: 10px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .more-button:hover {
    background-color: #8bbf00;
  }

  .add-button {
    background-color: #a6d22c;
    color: white;
    margin-bottom: 10px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
  }
  
  .add-button:hover {
    background-color: #8bbf00;
  }

  .return-button {
    background-color: #1b1c20;
    color: white;
    margin-bottom: 10px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .return-button:hover {
    background-color: #161617;
  }

  .noback-button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .link-icon {
    background: transparent;
    color: black; 
    text-decoration: none; 
    font-weight: bold; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .link-add {
    background: transparent;
    color: black; 
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .circle-button {
    width: 50px;
    height: 50px;
    background: #a6d22c;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%; 
  }  